<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Point Clouds - Preview</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>

  <style>
    #images-container .row .col-3 img {
      width: 90%;
    }
  </style>

  <body>
    <div class="container-fluid" id="images-container">
      <div class="row">
        {% for i in range(num_rows) %} 
          {% for j in range(4) %}
            {% if i*4 + j < images|length %}
              <div class="col-3 text-center">
                <img src="{{ images[i*4 + j] }}" />
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
